# Dataframes de pandas

In [1]:
import numpy as np
import pandas as pd

### Creación de DataFrames

In [16]:
# DataFrame desde diccionario de secuencias
dataframe = pd.DataFrame({'var1': [1, 2, 3], 'var2': ['uno', 'dos', 'tres'], 'var3': [1.0, 2.0, 3.0]})
dataframe

   var1  var2  var3
0     1   uno   1.0
1     2   dos   2.0
2     3  tres   3.0

### Convertir columna en indice

In [26]:
dataframe = dataframe.set_index("var2")
dataframe

      var1  var3
var2
uno      1   1.0
dos      2   2.0
tres     3   3.0

### Ver una sola columna

In [27]:
dataframe["var3"]

var2
uno     1.0
dos     2.0
tres    3.0
Name: var3, dtype: float64

### Ver una sola fila por posicion

In [28]:
dataframe.iloc[1]

var1    2.0
var3    2.0
Name: dos, dtype: float64

### Ver una sola fila por nombre del indice

In [33]:
dataframe.loc["dos"]

var1    2.0
var3    2.0
Name: dos, dtype: float64

### Elementos de un DataFrame

Disponemos de tres atributos para recuperar los datos, el índice y las columnas de un DataFrmae de forma independiente.

In [3]:
dataframe = pd.DataFrame({'var1': [1, 2, 3], 'var2': ['uno', 'dos', 'tres'], 'var3': [1.0, 2.0, 3.0]})

In [4]:
# Valores de un DataFrame
dataframe.values

array([[1, 'uno', 1.0],
       [2, 'dos', 2.0],
       [3, 'tres', 3.0]], dtype=object)

In [5]:
# Índice de un DataFrame
dataframe.index

RangeIndex(start=0, stop=3, step=1)

In [6]:
# Columnas de un DataFrame
dataframe.columns

Index(['var1', 'var2', 'var3'], dtype='object')

In [7]:
dataframe = pd.DataFrame({'var1': [1, 2, 3], 'var2': ['uno', 'dos', 'tres'], 'var3': [1.0, 2.0, 3.0]})

In [10]:
# Modificar el índice de filas de un dataframe
dataframe.index = ['f1', 'f2', 'f3']
dataframe

    var1  var2  var3
f1     1   uno   1.0
f2     2   dos   2.0
f3     3  tres   3.0

In [11]:
# Modificar el índice de columnas de un dataframe
dataframe.columns = ['c1', 'c2', 'c3']
dataframe

    c1    c2   c3
f1   1   uno  1.0
f2   2   dos  2.0
f3   3  tres  3.0

## Funciones de un dataframe

In [37]:
df = pd.DataFrame({'var1': [1, 2, 3], 'var2': [3, 6, 9], 'var3': ["david", "alejandro", "miguel"]})

In [39]:
# Ver primeras filas
df.head(10)

   var1  var2       var3
0     1     3      david
1     2     6  alejandro
2     3     9     miguel

In [40]:
# tamaño del dataframe
df.shape

(3, 3)

In [41]:
# media, mediana y moda
df["var1"].mean()  # median y mode

2.0

In [42]:
# indice de fila que contiene valor especifico
df["var1"].idxmax()

2